body {
  font-family: monospace;
  line-height: 1.5;

  color: rgb(32, 32, 32);
  background: rgb(252, 252, 252);

  margin: 10px 0;
  padding: 0 10%;

  @media (prefers-color-scheme: dark) {
    color: rgb(232, 232, 232);
    background: rgb(32, 32, 32);
  }

  @media screen and (min-width: 767px) {
    font-size: 16px;
    padding: 0 15%;
  }

  @media screen and (min-width: 1280px) {
    font-size: 18px;
    padding: 0 25%;
  }

  @media screen and (min-width: 1600px) {
    padding: 0 33%;
  }

}
