h1, h2, h3, h4, h5, h6 {
  position: relative;

  font-size: 1em;
  font-weight: bold;

  &:before {
    position: absolute;
    left: 0;
    transform: translateX(calc(-100% - 1em));
  }
}

h1:before {
  content: "#";
}

h2:before {
  content: "##";
}

h3:before {
  content: "###";
}
